body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

li.selected button {
  background-color: rgb(17, 238, 84);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

button.hight-light {
  border-color: red;
  background-color: rgb(230, 152, 152);
}

.btn {
  margin: 10px 5px 10px 0
}
